<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softminds.matrixcalculator">

    <application
        android:name=".GlobalValues"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/mainlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutMe"
            android:label="@string/aboutme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RatingActivity"
            android:label="@string/rate"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Settings" />
        <activity
            android:name=".SettingsTab"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MakeNewMatrix"
            android:label="@string/NewMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".FillingMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomValueFiller"
            android:label="@string/CustomFill"
            android:parentActivityName=".FillingMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".faqs"
            android:label="@string/LabelHelp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FeedBack"
            android:label="@string/feedback"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewCreatedMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RenameCreated"
            android:label="@string/Rename"
            android:parentActivityName=".ViewCreatedMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".OrderChanger"
            android:label="@string/SetNewOrder"
            android:parentActivityName=".ViewCreatedMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".ShowResult"
            android:label="@string/Result"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ExponentSetter"
            android:theme="@style/AppThemeDialog"
            android:label="@string/exponent"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>