<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softminds.matrixcalculator">

    <application
        android:name=".BaseActivities.GlobalValues"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/mainlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseActivities.AboutMe"
            android:label="@string/aboutme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BaseActivities.RatingActivity"
            android:label="@string/rate"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BaseFragments.Settings" />
        <activity
            android:name=".BaseActivities.SettingsTab"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DialogActivity.MakeNewMatrix"
            android:label="@string/NewMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".BaseActivities.FillingMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseActivities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity.CustomValueFiller"
            android:label="@string/CustomFill"
            android:parentActivityName=".BaseActivities.FillingMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".BaseActivities.faqs"
            android:label="@string/LabelHelp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BaseActivities.FeedBack"
            android:label="@string/feedback"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BaseActivities.ViewCreatedMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DialogActivity.RenameCreated"
            android:label="@string/Rename"
            android:parentActivityName=".BaseActivities.ViewCreatedMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".DialogActivity.OrderChanger"
            android:label="@string/SetNewOrder"
            android:parentActivityName=".BaseActivities.ViewCreatedMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".BaseActivities.ShowResult"
            android:label="@string/Result"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".DialogActivity.ExponentSetter"
            android:theme="@style/AppThemeDialog"
            android:label="@string/exponent"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>