<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softminds.matrixcalculator">

    <application
        android:name=".base_activities.GlobalValues"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/mainlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".base_activities.AboutMe"
            android:label="@string/aboutme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".base_activities.RatingActivity"
            android:label="@string/rate"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".base_fragments.Settings" />
        <activity
            android:name=".base_activities.SettingsTab"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dialog_activity.MakeNewMatrix"
            android:label="@string/NewMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".base_activities.FillingMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".base_activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog_activity.CustomValueFiller"
            android:label="@string/CustomFill"
            android:parentActivityName=".base_activities.FillingMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".base_activities.faqs"
            android:label="@string/LabelHelp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".base_activities.FeedBack"
            android:label="@string/feedback"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".base_activities.ViewCreatedMatrix"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dialog_activity.RenameCreated"
            android:label="@string/Rename"
            android:parentActivityName=".base_activities.ViewCreatedMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".dialog_activity.OrderChanger"
            android:label="@string/SetNewOrder"
            android:parentActivityName=".base_activities.ViewCreatedMatrix"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".base_activities.ShowResult"
            android:label="@string/Result"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dialog_activity.ExponentSetter"
            android:label="@string/exponent"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".dialog_activity.DialogConfirmation"
            android:label="@string/ConfirmMake"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".dialog_activity.DeterminantResult"
            android:label="@string/determinant"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeDialog"/>
    </application>

</manifest>